:root {
  --primary-hue: 0deg;
  --primary-saturation: 90%;
  --primary-lightness: 50%;
}

.hextra-nav-container {
  background-color: red;
}

.hextra-nav-container a {
  font-weight: bold;
}

.hextra-max-footer-width {
  padding: 0;
  padding-bottom: 10px
}

body {
  background-image: url("/img/flamme.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom
}

.content {
  backdrop-filter: blur(50px);
  padding: 1em;
  border-radius: 10px;
}

.custom-title {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}